.main-header {
    max-width: 780px;
    padding-top: 2vh;
}
.main-header--intro {
    padding-top: 2vh;
}
.donation {
    color: white;
}
@media screen and (max-width: 600px) {
    .main-header {
        font-size: 16px;
        padding-bottom: 10vh;
    }
    .main-header--logo > picture > img {
        position: inherit !important;
    }
}
