.main-header {
    max-width: 780px;
    padding-top: 2vh;
}
.main-header--intro {
    padding-top: 2vh;
}
.donation {
    color: white;
}
@media screen and (max-width: 600px) {
    .main-header {
        font-size: 14px;
        padding-bottom: 10vh;
    }
    .main-header--logo > picture > img {
        position: inherit !important;
    }
    .main-header--audio {
        padding-top: 54px;
    }
    .main-header--sub-description {
        display: none;
    }
}
@media screen and (min-width: 700px) and (max-height: 958px) {
    .main-header {
        font-size: 14px;
    }
    .main-header--sub-description {
        display: none;
    }
}
/*Audio Player*/
@media screen and (min-width:1380px) {
    .main-header--audio {
        position:absolute;
        top:10px;
        right:0;
    }
}
