:root {
}
.background {
    /*note: can cause scrolling issues*/
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    background: radial-gradient(ellipse at center, #4248ee 0%, #080b5b 100%);
}
.logo {
    width: 200px;
}
.nav-bar {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 20px;
}
.nav-bar--icon {
    width: 40px;
    height: 40px;
    stroke: white;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
/*Audio Player*/
.audio-title {
    color: white;
    font-family: Roboto, Sans-Serif;
    font-size: 16px;
    text-align: center;
}
@media screen and (min-width:1380px) {
    .audio {
        /*position:absolute;*/
        /*top:20px;*/
        /*right:0;*/
    }
}
.message-of-the-month {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Roboto, Sans-Serif;
    font-size: 20px;
    max-width: 1024px;
    padding: 20px;
    margin: auto;
    z-index: 2;
}
.tools {
    display:flex;
    width: 95%;
    justify-content: space-between;
    padding-left: 2%;
}
.donation {
    border: none;
    color: white;
    font-family: Roboto, Sans-Serif;
    font-size: 16px;
}
.donation-input {
    padding-bottom: 20px;
}
.donation-btn {
    background-color: #6c62fe;
    border: none;
    color: white;
    padding: 12px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.donation-btn:hover {
    background-color: #9DA0FE; /* Green */
    color: white;
}
/*Team Page Styles Begin*/
.team-cover {
    height: 90vh;
}
.team {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 52px;
}

.team-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team-container {
    color: white;
    font-family: Roboto, Sans-Serif;
    padding: 0 16px;
    max-width: 350px;
}
@media (min-width:1024px)  {
    .team {
        flex-direction: row;
    }
}
/*Team Page Styles End*/
